spring-raw/src/main/resources/META-INF/bruce.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xsd:schema xmlns="http://www.bruce.com/schema/bruce"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.bruce.com/schema/bruce">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    
    <xsd:element name="service">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="beanId" type="xsd:string" use="required"/>
                    <xsd:attribute name="beanClass" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>